/**********************************************************
1. Universal style (typography, etc)
2. Main Section style
3. Left Section
4. Right Section
5. Footer
**********************************************************/

/********************************************
* //Dicionário//
* padding - acolchoamento
* margin - margem
* list-style: none - estilo de lista nenhuma
* height - altura
* template - modelo
* left - esquerda
* find your interests - encontre seus interesses
* middle - meio
* heading - cabeçalho
*********************************************/

/*******************************************
1. Universal style
*******************************************/
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

/*******************************************
2. Main Section
*******************************************/
.main-page {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
    grid-template-rows: 1fr min-content;
}

/*******************************************
3. Left Section
*******************************************/
.left {
    grid-column: 1/2;
    grid-row: 1/2;
    background: #1da1f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content div {
    display: flex;
    align-items: center;
    margin: 4rem;
    color: #fff;
}

.left-content i {
    font-size: 3rem;
    margin-right: 2rem;
}

.left-content-heading {
    font-size: 2rem;
}

/*******************************************
3. Right Section
*******************************************/
.right {
    grid-column: 2/3;
    grid-row: 1/2;
<<<<<<< HEAD
=======
}

.middle-contente {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
>>>>>>> 965a84179b41d98302b935d3cdd2aa11f325f58d
}