/**********************************************************
1. Universal style (typography, etc)
2. Main Section style
3. Left Section
4. Right Section
5. Footer
**********************************************************/

/********************************************
* //Dicionário//
* padding - acolchoamento
* margin - margem
* list-style: none - estilo de lista nenhuma
* height - altura
* template - modelo
* left - esquerda
* find your interests - encontre seus interesses
* 
*********************************************/

/*******************************************
1. Universal style
*******************************************/
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

/*******************************************
2. Main Section
*******************************************/
.main-page {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
    grid-template-rows: 1fr min-content;
}

/*******************************************
3. Left Section
*******************************************/
.left {
    grid-column: 1/2;
    grid-row: 1/2;
    background: #1da1f5;
}